/JavaScript/HomeWork02-JavaScript Syntax/Homework02-JavaScript-Syntax.zip
/JavaScript/HomeWork02-JavaScript Syntax/.idea/.name
/JavaScript/HomeWork02-JavaScript Syntax/.idea/Homework02-JavaScript-Syntax.iml
/JavaScript/HomeWork02-JavaScript Syntax/.idea/encodings.xml
/JavaScript/HomeWork02-JavaScript Syntax/.idea/jsLibraryMappings.xml
/JavaScript/HomeWork02-JavaScript Syntax/.idea/misc.xml
/JavaScript/HomeWork02-JavaScript Syntax/.idea/modules.xml
/JavaScript/HomeWork02-JavaScript Syntax/.idea/workspace.xml
